<h1 class="text-2xl font-black">{{ title }}</h1>
<p>{{ description }}</p>
<a target="_blank" href={{action}} class="underline">{{actionName}}</a>
<br />
<img height="32" src="https://img.logoipsum.com/282.svg" style="display:block;outline:none;border:none;text-decoration:none" width="32" />
<small>If you didn't try to {{title}}, you can safely ignore this email.</small>